:root {
    --TableBackground: #2e2a2aad; 
    --TableHover: #2e2a2ad0; 
    --iconColor: #ff48488c;
    --iconColorHover: #ee2e2ea2; ;
    --titleColor: rgba(226, 226, 240, 0.89);
    --titleColor2:rgba(250, 242, 136, 0.801);
    --descriptionColor: aliceblue;
    --textColor: #df5d5d56;


  }
 *
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 h1, h2, h3{
    color: var(--titleColor2);
   font-family: cursive;
   font-weight: 300;
}
h4{
    color: var(--titleColor);
    font-family: cursive;
    font-weight: 300; 
}

p{
  color: var(--descriptionColor);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

body{
   
    background-image: linear-gradient(to top, #d10721, #a10042, #651547, #2d1832, #070707);
    background-size: cover; 
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    margin: 0;
    overflow: hidden;
}

.main{
    margin-top: 3%;
    width: 100%;
    height: 90vh;
    display: flex;
   place-content: center;
}
.mainImg{
    background-image: linear-gradient(to top, #d10721, #a10042, #651547, #2d1832, #070707);
    background-size: cover; 
    background-repeat: no-repeat;
    width: 28rem;
    height: 28rem;
    border-radius: 50%;
    position: absolute;
    z-index: 99;
    margin-top: 11%;
}

.mainImg2{
    background-color: rgba(250, 235, 215, 0.418);
    width: 27rem;
    height: 27rem;
    border-radius: 50%;
    position: absolute;
    z-index: 99;
    margin-top: 11.5%;
    overflow: hidden;
}
.mainImg2 img{
    width: 100%;
}   

.dRight, .dLeft {
    margin: 1rem;
    width: 47%;
    height: 90%;
    display: flex;
    flex-direction: column;
    place-content: center;
    z-index: 89;
    opacity: 0; /* Inicia invisible */
    visibility: hidden; /* No visible al principio */
    transition: opacity 1.5s ease-in-out, visibility 0s linear 1.5s; /* Transición suave */
}

.dRight.show, .dLeft.show {
    opacity: 1; /* Se vuelve visible */
    visibility: visible; /* Aparece */
    transition-delay: 0s; /* Sin demora en visibilidad */
}




.r1{
    background-color: var(--TableBackground);
    width: 99%;
    height: 30%;
    margin-bottom: 1rem;


}
.r1 .name{
    margin-left: 1rem;
    
}
.r1 .profileText{
    width: 80%;
    margin-left: 1rem;
}
.r2{
    background-color:var(--TableBackground);
    width: 99%;
    height: 40%;
    margin-bottom: 1rem;

   
}
.r2 .r2-h3{
    margin-left: 3rem;
}
 .r2 .r2-container{
    
    width: 70%;
    height: 80%;
    margin-left: 2rem;
 }
 .r2Box-container{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
   
 }
.r2 .r2-container .r2Box-container .r2Box{
   background-color: var(--iconColor);
    width: 20%;
    height: 95%;
    margin-left: 10px;
    display: grid;
    place-content: center;
    box-shadow: 12px 0px 5px 8px rgba(0,0,0,0.15) inset;
   
}
.r2 .r2-container .r2Box-container .r2Box img{
    width: 90%;
}


.r3{
    background-color:var(--TableBackground);
    width: 99%;
    height: 10%;
   display: flex;
   flex-direction: row;
 
}
.r3 .r3-mailBox{
 width: 40%;
 height: 100%;
 text-align: center;
}
.r3 .r3-mailBox h3{

 margin-top: 2rem;
box-shadow: -6px 22px 24px 11px rgba(0,0,0,0.6);
}
  
.r3 .r3-box{
    width: 10%;
    height: 100%;
    margin-left: 2rem;
    display: grid;
    place-items: center;
    box-shadow: 12px 0px 5px 8px rgba(0,0,0,0.15) inset;
    overflow: hidden;
}
.r3 .r3-box:hover{
    background-color: #2d1832;
}
.r3 .r3-box img{
    width: 90%;
    height: 90%;
}
.emailText{
    color: rgb(252, 201, 192);
}
.l1{
    
    background-color:var(--TableBackground);
    width: 99%;
    height: 40%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction:row;
   
}
.l1 .cl{
    width: 35%;
    height: 100%;
    margin-left:25px;
}
.l1  .childLeft1{
 margin-left:20%;
}

.l1 .childLeft1 .cl-preferences {
    background-color: var(--textColor);
    width: 100%;
    height: 23%;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 3px;
}
.l1 .childLeft1 .cl-preferencesh2 h2{
   
    width: 100%;
    height: 23%;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 3px;
}

.l1 .childLeft2 .cl-preferences{
    background-color: var(--textColor);
    width: 100%;
    height: 23%;
    margin-bottom: 5px;
    place-content: center;
    border-radius: 3px;
}
.l1 .childLeft2 .cl-preferencesh2 h2{
   
    width: 100%;
    height: 23%;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 3px;
}
.l1 .childLeft2 .cl-preferences img{
    width: 15%;
    height: 70%;
    margin-left: 15px;
    margin-top: 5px;
}

.l2{
    background-color:var(--TableBackground);
    width: 99%;
    height: 55%;
}
.l2 .l2Container{
    width: auto;
    margin-left: 20%;
    height: 100%;
}
.l2 .l2Container  .row-l2Container{
    display: flex;
    flex-direction:row ;
    place-content: center;
}

.l2 .l2Container  .row-l2Container .projectsContainer{
    width: 14rem;
    height: 11rem;
   background-image: url('./b1f7809956dc4bab1e86b322d8ab82d6.jpg');
   background-size: cover; 
   background-repeat: no-repeat;
    margin: 10px;
    border-radius: 10px;
}
.l2 .l2Container  .row-l2Container .projectsContainer .l2-checkProject{
    width: 100%;
    height: 20%;
    margin-top: 55%;
   
  }
  .l2 .l2Container  .row-l2Container .projectsContainer .l2-checkProject img{
    width: 15%;
    height: 100%;
    margin-left: 2.9rem;
  }
  .l2 .l2Container  .row-l2Container .projectsContainer .l2-checkProject img:hover{
    background-color: rgb(242, 250, 125);
  }
.r1:hover, .r2:hover, .r3:hover, .l1:hover, .l2:hover{
    background-color: var(--TableHover);
  
}




.star 
{
	position: absolute;
	top: -20px;
	color: #fff;
	animation: animate 5s linear forwards;
    z-index: 19;
}
.star::before
{
	
	content: url('skr.png');
	font-family: fontAwesome;
	text-shadow: 0 0 5px #fff,
	0 0 20px #fff,
	0 0 50px #fff;
   
}
@keyframes animate 
{
	0% 
	{
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	80% 
	{
		opacity: 1;
	}
	100% 
	{
		transform: translateY(100vh) rotate(360deg);
		opacity: 0;
	}
}

#dRight,  #dLeft{
    display: none;
}













